body {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.topnav a {
  font-family: 'Libre Barcode 128 Text', cursive;
  text-align: center;
  font-size: 50px;
  background-color: white;
  color: black;

}

#locations {
  font-family: 'Cookie', cursive;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: NavajoWhite;
}


#cut {
  font-weight: bolder;
  line-height: 0.5px;
}

/* #locationtext {
  color: black;
  font-family: 'Nixie One', cursive;
  font-size: 30px;
  font-weight: bolder;
  text-align:left;
  background-color: BlanchedAlmond;
  text-align: center;
}
*/
